@charset "UTF-8";
/* COULEURS */
/* rajouter des news couleurs au besoin*/
/*couleurs des noms des restaurants / Rajouter au besoin*/
/* couleurs des textes dans les menus */
/* couleurs des traits dans les menus  */
/* MAP */
/* rajouter des news menu au besoin*/
/* DIMENSIONS */
/* à modifier au besoin */
/* MARGIN & PADDING */
/* rajouter des news menu au besoin*/
/*POLICES*/
/* taille et dispositions des block */
.header {
  width: 100%;
  display: flex;
  background-color: #579c87;
  justify-content: center;
  align-items: center;
  border-bottom: 0.18rem solid #a1c181;
  color: #fdcb46;
  height: 4.5rem;
}
@media (min-width: 455px) {
  .header {
    height: 6.3rem;
  }
}
@media (min-width: 1170px) {
  .header {
    height: 9rem;
  }
}

.footer {
  position: initial;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #579c87;
  border-top: 0.18rem solid #a1c181;
  height: 5.25rem;
}
@media (min-width: 455px) {
  .footer {
    position: fixed;
  }
}
@media (min-width: 455px) {
  .footer {
    height: 4.2rem;
    justify-content: space-between;
    flex-direction: initial;
  }
  .footer a:nth-child(1) {
    margin-left: 30px;
  }
  .footer a:nth-child(2) {
    margin-right: 40px;
  }
}
@media (min-width: 1170px) {
  .footer {
    height: 5.25rem;
  }
}

.menu-four, .menu-three, .menu-two, .menu-one {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 15px 40px 15px;
  padding-bottom: 30px;
}
@media (min-width: 1170px) {
  .menu-four, .menu-three, .menu-two, .menu-one {
    width: 80%;
  }
}
@media (min-width: 455px) {
  .menu-four, .menu-three, .menu-two, .menu-one {
    margin: 20px 40px 130px 40px;
  }
}
@media (min-width: 1170px) {
  .menu-four, .menu-three, .menu-two, .menu-one {
    margin: 20px 80px 150px 80px;
  }
}

.menu-four section:nth-child(2), .menu-three section:nth-child(2), .menu-two section:nth-child(2), .menu-one section:nth-child(2), .menu section:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu, #main {
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*Menu 1 - nom du restaurant bas de carte*/
.menu-title-one-bottom {
  display: flex;
  font-size: 20px;
  font-weight: 600;
}

.menu-title-one-bottom .fas {
  display: block;
}

.menu-title-one-bottom p {
  display: block;
}

/*TAILLE DES H3 DANS LES TABLES*/
.menu-table-one h3 {
  width: 60%;
  display: inline-block;
  transition: background-size 1s;
}
@media (min-width: 455px) {
  .menu-table-one h3 {
    width: 50%;
  }
}
@media (min-width: 1170px) {
  .menu-table-one h3 {
    width: 33%;
  }
}

.menu-table-one-h3:after, .menu-table-one-h3:before {
  display: inline-block;
  content: "";
  width: 20%;
}
@media (min-width: 455px) {
  .menu-table-one-h3:after, .menu-table-one-h3:before {
    width: 25%;
  }
}
@media (min-width: 1170px) {
  .menu-table-one-h3:after, .menu-table-one-h3:before {
    width: 33%;
  }
}

.menu-table-two-h3:nth-child(5) h3, .menu-table-two-h3:nth-child(3) h3, .menu-table-two-h3:nth-child(1) h3 {
  width: 60%;
  display: inline-block;
  transition: background-size 1s;
}
@media (min-width: 455px) {
  .menu-table-two-h3:nth-child(5) h3, .menu-table-two-h3:nth-child(3) h3, .menu-table-two-h3:nth-child(1) h3 {
    width: 50%;
  }
}
@media (min-width: 1170px) {
  .menu-table-two-h3:nth-child(5) h3, .menu-table-two-h3:nth-child(3) h3, .menu-table-two-h3:nth-child(1) h3 {
    width: 38%;
  }
}

.menu-table-two-h3:nth-child(5):after, .menu-table-two-h3:nth-child(5):before, .menu-table-two-h3:nth-child(3):after, .menu-table-two-h3:nth-child(3):before, .menu-table-two-h3:nth-child(1):after, .menu-table-two-h3:nth-child(1):before {
  display: inline-block;
  content: "";
  width: 20%;
}
@media (min-width: 455px) {
  .menu-table-two-h3:nth-child(5):after, .menu-table-two-h3:nth-child(5):before, .menu-table-two-h3:nth-child(3):after, .menu-table-two-h3:nth-child(3):before, .menu-table-two-h3:nth-child(1):after, .menu-table-two-h3:nth-child(1):before {
    width: 25%;
  }
}
@media (min-width: 1170px) {
  .menu-table-two-h3:nth-child(5):after, .menu-table-two-h3:nth-child(5):before, .menu-table-two-h3:nth-child(3):after, .menu-table-two-h3:nth-child(3):before, .menu-table-two-h3:nth-child(1):after, .menu-table-two-h3:nth-child(1):before {
    width: 31%;
  }
}

.menu-table-three h3:nth-child(1) {
  width: 60%;
  display: inline-block;
  transition: background-size 1s;
}
@media (min-width: 455px) {
  .menu-table-three h3:nth-child(1) {
    width: 50%;
  }
}
@media (min-width: 1170px) {
  .menu-table-three h3:nth-child(1) {
    width: 40%;
  }
}

.menu-table-three-h3:nth-child(5):after, .menu-table-three-h3:nth-child(5):before, .menu-table-three-h3:nth-child(3):after, .menu-table-three-h3:nth-child(3):before, .menu-table-three-h3:nth-child(1):after, .menu-table-three-h3:nth-child(1):before {
  width: 20%;
  display: inline-block;
  content: "";
}
@media (min-width: 455px) {
  .menu-table-three-h3:nth-child(5):after, .menu-table-three-h3:nth-child(5):before, .menu-table-three-h3:nth-child(3):after, .menu-table-three-h3:nth-child(3):before, .menu-table-three-h3:nth-child(1):after, .menu-table-three-h3:nth-child(1):before {
    width: 25%;
  }
}
@media (min-width: 1170px) {
  .menu-table-three-h3:nth-child(5):after, .menu-table-three-h3:nth-child(5):before, .menu-table-three-h3:nth-child(3):after, .menu-table-three-h3:nth-child(3):before, .menu-table-three-h3:nth-child(1):after, .menu-table-three-h3:nth-child(1):before {
    width: 30%;
  }
}

.menu-table-four h3 {
  width: 60%;
  display: inline-block;
  transition: background-size 1s;
}
@media (min-width: 455px) {
  .menu-table-four h3 {
    width: 50%;
  }
}
@media (min-width: 1170px) {
  .menu-table-four h3 {
    width: 42%;
  }
}

.menu-table-four-h3:after, .menu-table-four-h3:before {
  width: 20%;
  display: inline-block;
  content: "";
}
@media (min-width: 455px) {
  .menu-table-four-h3:after, .menu-table-four-h3:before {
    width: 25%;
  }
}
@media (min-width: 1170px) {
  .menu-table-four-h3:after, .menu-table-four-h3:before {
    width: 29%;
  }
}

/* en rajouter si plus de menus */
.menu-table-one-h3:after, .menu-table-one-h3:before {
  height: 5px;
  background-color: #3c1218;
}

.menu-table-two-h3:nth-child(5):after, .menu-table-two-h3:nth-child(5):before, .menu-table-two-h3:nth-child(3):after, .menu-table-two-h3:nth-child(3):before, .menu-table-two-h3:nth-child(1):after, .menu-table-two-h3:nth-child(1):before {
  height: 5px;
}

.menu-table-three-h3:nth-child(5):after, .menu-table-three-h3:nth-child(5):before, .menu-table-three-h3:nth-child(3):after, .menu-table-three-h3:nth-child(3):before, .menu-table-three-h3:nth-child(1):after, .menu-table-three-h3:nth-child(1):before {
  height: 5px;
}

.menu-table-four-h3:after, .menu-table-four-h3:before {
  height: 5px;
}

/* ANIMATIONS */
.menu-title-four, .menu-title-three, .menu-title-two, .menu-title-one {
  cursor: pointer;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1000ms;
}
.menu-title-four:hover, .menu-title-three:hover, .menu-title-two:hover, .menu-title-one:hover {
  transform: scale(1.15);
  opacity: 0.5;
}

/* POLICES */
.menu-one h2, .menu-title-one h2, .menu-title-one-bottom {
  font-family: "Devonshire", cursive;
  font-weight: 500;
}

.menu-table-one-h3 h3, .menu-table-one, .menu-title-one h3 {
  font-family: calliope-mvb, sans-serif;
  font-style: normal;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 12px;
}
@media (min-width: 455px) {
  .menu-table-one-h3 h3, .menu-table-one, .menu-title-one h3 {
    font-weight: 600;
    font-size: 18px;
  }
}
@media (min-width: 1170px) {
  .menu-table-one-h3 h3, .menu-table-one, .menu-title-one h3 {
    font-weight: 900;
    font-size: 22px;
  }
}

.menu-two h2, .menu-title-two h2 {
  font-family: "Croissant One", cursive;
  font-size: 16px;
}

.menu-table-two, .menu-title-two h3 {
  font-family: noto-serif, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
}
@media (min-width: 455px) {
  .menu-table-two, .menu-title-two h3 {
    font-weight: 600;
    font-size: 18px;
  }
}
@media (min-width: 1170px) {
  .menu-table-two, .menu-title-two h3 {
    font-weight: 900;
    font-size: 22px;
  }
}

.menu-three h2, .menu-title-three h2 {
  font-family: "Dancing Script", cursive;
  font-size: 24px;
}

.menu-table-three, .menu-title-three h3 {
  font-family: calliope-mvb, sans-serif;
  font-style: normal;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 12px;
}
@media (min-width: 455px) {
  .menu-table-three, .menu-title-three h3 {
    font-weight: 600;
    font-size: 18px;
  }
}
@media (min-width: 1170px) {
  .menu-table-three, .menu-title-three h3 {
    font-weight: 900;
    font-size: 22px;
  }
}

.menu-four h2, .menu-title-four h2 {
  font-family: "Kaushan Script", cursive;
}

.menu-table-four, .menu-title-four h3 {
  font-family: calliope-mvb, sans-serif;
  font-style: normal;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 12px;
}
@media (min-width: 455px) {
  .menu-table-four, .menu-title-four h3 {
    font-weight: 600;
    font-size: 18px;
  }
}
@media (min-width: 1170px) {
  .menu-table-four, .menu-title-four h3 {
    font-weight: 900;
    font-size: 22px;
  }
}

.header {
  font-family: "DM Sans", sans-serif;
  letter-spacing: -2px;
  font-weight: bold;
  font-size: 20px;
}
@media (min-width: 455px) {
  .header {
    font-size: 25px;
  }
}
@media (min-width: 1170px) {
  .header {
    font-size: 30px;
  }
}

#soon {
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0px;
  font-weight: normal;
  font-size: 18px;
}
@media (min-width: 1170px) {
  #soon {
    font-size: 28px;
  }
}

.footer {
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0px;
  font-weight: normal;
  font-size: 18px;
}
@media (min-width: 455px) {
  .footer {
    font-size: 22px;
  }
}
@media (min-width: 1170px) {
  .footer {
    font-size: 26px;
  }
}

.footer a:nth-child(2) {
  text-align: right;
}

.title-page {
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 20px;
}
@media (min-width: 455px) {
  .title-page {
    font-size: 24px;
  }
}
@media (min-width: 1170px) {
  .title-page {
    font-size: 30px;
  }
}

body {
  margin: auto;
}

/* intex.html */
.title-page {
  margin: 30px auto 20px auto;
  text-align: center;
}

/*HOME*/
#main {
  max-width: 100%;
  height: 100%;
  flex-direction: column;
}
#main .menu {
  max-width: 1700px;
  height: 100%;
}
#main .menu-page-one {
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
  width: 15rem;
  height: 22.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px 50px 20px;
}
@media (min-width: 455px) {
  #main .menu-page-one {
    width: 19.5rem;
    height: 27rem;
  }
}
@media (min-width: 1170px) {
  #main .menu-page-one {
    width: 28.5rem;
    height: 45rem;
  }
}
#main .menu-page-two {
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
  width: 15rem;
  height: 22.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px 50px 20px;
}
@media (min-width: 455px) {
  #main .menu-page-two {
    width: 19.5rem;
    height: 27rem;
  }
}
@media (min-width: 1170px) {
  #main .menu-page-two {
    width: 28.5rem;
    height: 45rem;
  }
}
#main .menu-page-three {
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
  width: 15rem;
  height: 22.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px 50px 20px;
}
@media (min-width: 455px) {
  #main .menu-page-three {
    width: 19.5rem;
    height: 27rem;
  }
}
@media (min-width: 1170px) {
  #main .menu-page-three {
    width: 28.5rem;
    height: 45rem;
  }
}
#main .menu-page-four {
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
  width: 15rem;
  height: 22.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px 50px 20px;
}
@media (min-width: 455px) {
  #main .menu-page-four {
    width: 19.5rem;
    height: 27rem;
  }
}
@media (min-width: 1170px) {
  #main .menu-page-four {
    width: 28.5rem;
    height: 45rem;
  }
}

/*PAGES*/
.menu {
  max-width: 100%;
  height: 100%;
  /* La note enchantée */
  /* Le chic à la française */
  /* Le délice des poapilles */
  /* La palettes du goût */
}
.menu table {
  /*rajouter un margin-top*/
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu table td:nth-child(1) {
  width: 75%;
}
.menu table td:nth-child(2) {
  width: 15%;
}
@media (min-width: 1170px) {
  .menu table {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
.menu section:nth-child(1) {
  margin: 40px auto 40px auto;
}
.menu section:nth-child(2) {
  width: 90%;
}
@media (min-width: 1170px) {
  .menu h2 {
    margin: 20px auto 20px auto;
  }
}
.menu-one * {
  margin: auto;
}
.menu-one section:nth-child(2) {
  width: 95%;
}
@media (min-width: 1170px) {
  .menu-one section:nth-child(2) {
    width: 80%;
  }
}
.menu-two * {
  margin: auto;
  width: 100%;
}
@media (min-width: 455px) {
  .menu-two td:nth-child(1) {
    padding-left: 40px;
  }
  .menu-two td:nth-child(2) {
    padding-right: 40px;
  }
}
@media (min-width: 1170px) {
  .menu-two td:nth-child(1) {
    padding-left: 80px;
  }
  .menu-two td:nth-child(2) {
    padding-right: 80px;
  }
}
.menu-two section:nth-child(2) {
  width: 95%;
}
@media (min-width: 1170px) {
  .menu-two section:nth-child(2) {
    width: 90%;
  }
}
.menu-three * {
  margin: auto;
  width: 100%;
}
@media (min-width: 455px) {
  .menu-three td:nth-child(1) {
    padding-left: 40px;
  }
  .menu-three td:nth-child(2) {
    padding-right: 40px;
  }
}
@media (min-width: 1170px) {
  .menu-three td:nth-child(1) {
    padding-left: 80px;
  }
  .menu-three td:nth-child(2) {
    padding-right: 80px;
  }
}
.menu-three section:nth-child(2) {
  width: 95%;
}
@media (min-width: 1170px) {
  .menu-three section:nth-child(2) {
    width: 90%;
  }
}
.menu-three .menu-table-three {
  margin: auto;
}
.menu-four * {
  margin: auto;
  width: 100%;
}
@media (min-width: 455px) {
  .menu-four td:nth-child(1) {
    padding-left: 40px;
  }
  .menu-four td:nth-child(2) {
    padding-right: 40px;
  }
}
@media (min-width: 1170px) {
  .menu-four td:nth-child(1) {
    padding-left: 80px;
  }
  .menu-four td:nth-child(2) {
    padding-right: 80px;
  }
}
.menu-four section:nth-child(2) {
  width: 95%;
}
@media (min-width: 1170px) {
  .menu-four section:nth-child(2) {
    width: 90%;
  }
}
.menu-four .menu-table-four {
  margin: auto;
}

#soon {
  display: ruby;
  border-radius: 10px 10px;
  width: 300px;
  height: 62.5px;
  margin: 1.5rem 1.5rem 2.25rem 1.5rem;
}
@media (min-width: 455px) {
  #soon {
    display: flex;
    border-radius: 10px 10px;
    width: 30rem;
    height: 3.75rem;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 1.5rem 7.5rem 1.5rem;
  }
}
@media (min-width: 1170px) {
  #soon {
    margin: 1.5rem 1.5rem 12rem 1.5rem;
  }
}
#soon p {
  margin-right: 10px;
}

.legal-notice {
  display: block;
  margin: 20px 40px 60px 40px;
}
@media (min-width: 455px) {
  .legal-notice {
    margin: 20px 40px 100px 40px;
  }
}
@media (min-width: 1170px) {
  .legal-notice {
    margin: 20px 40px 120px 40px;
  }
}

/*POLICES*/
/*la page home*/
.menu-title-one h2 {
  font-size: 25px;
}
@media (min-width: 455px) {
  .menu-title-one h2 {
    font-size: 30px;
  }
}
@media (min-width: 1170px) {
  .menu-title-one h2 {
    font-size: 50px;
  }
}
.menu-title-one .fa-music {
  font-size: 40px;
}
.menu-title-one h3 {
  text-transform: uppercase;
}
@media (min-width: 455px) {
  .menu-title-one h3 {
    font-size: 36px;
  }
}
@media (min-width: 1170px) {
  .menu-title-one h3 {
    font-size: 60px;
  }
}
@media (min-width: 455px) {
  .menu-title-two h2 {
    font-size: 19.2px;
  }
}
@media (min-width: 1170px) {
  .menu-title-two h2 {
    font-size: 32px;
  }
}
@media (min-width: 455px) {
  .menu-title-two h3 {
    font-size: 36px;
  }
}
@media (min-width: 1170px) {
  .menu-title-two h3 {
    font-size: 60px;
  }
}
@media (min-width: 455px) {
  .menu-title-three h2 {
    font-size: 28.8px;
  }
}
@media (min-width: 1170px) {
  .menu-title-three h2 {
    font-size: 48px;
  }
}
@media (min-width: 455px) {
  .menu-title-three h3 {
    font-size: 36px;
  }
}
@media (min-width: 1170px) {
  .menu-title-three h3 {
    font-size: 60px;
  }
}
@media (min-width: 455px) {
  .menu-title-four h2 {
    font-size: 28.8px;
  }
}
@media (min-width: 1170px) {
  .menu-title-four h2 {
    font-size: 48px;
  }
}
@media (min-width: 455px) {
  .menu-title-four h3 {
    font-size: 36px;
  }
}
@media (min-width: 1170px) {
  .menu-title-four h3 {
    font-size: 60px;
  }
}

/*les pages de menus*/
.menu {
  /* h2 dans les pages Menus */
}
.menu-table-one {
  line-height: 2;
}
.menu-table-one-h3 h3 {
  font-size: 16px;
}
@media (min-width: 455px) {
  .menu-table-one-h3 h3 {
    font-size: 22px;
  }
}
@media (min-width: 1170px) {
  .menu-table-one-h3 h3 {
    font-size: 26px;
  }
}
.menu-table-two {
  line-height: 2;
}
.menu-table-two h3 {
  font-size: 14px;
}
@media (min-width: 455px) {
  .menu-table-two h3 {
    font-size: 20px;
  }
}
@media (min-width: 1170px) {
  .menu-table-two h3 {
    font-size: 22px;
  }
}
.menu-table-three {
  line-height: 2;
}
.menu-table-three h3 {
  font-size: 16px;
}
@media (min-width: 455px) {
  .menu-table-three h3 {
    font-size: 20px;
  }
}
@media (min-width: 1170px) {
  .menu-table-three h3 {
    font-size: 24px;
  }
}
.menu-table-four {
  line-height: 2;
}
.menu-table-four h3 {
  font-size: 16px;
}
@media (min-width: 455px) {
  .menu-table-four h3 {
    font-size: 20px;
  }
}
@media (min-width: 1170px) {
  .menu-table-four h3 {
    font-size: 26px;
  }
}
.menu-one h2 {
  font-size: 25px;
}
@media (min-width: 455px) {
  .menu-one h2 {
    font-size: 50px;
  }
}
@media (min-width: 1170px) {
  .menu-one h2 {
    font-size: 75px;
  }
}
@media (min-width: 455px) {
  .menu-two h2 {
    font-size: 32px;
  }
}
@media (min-width: 1170px) {
  .menu-two h2 {
    font-size: 48px;
  }
}
@media (min-width: 455px) {
  .menu-three h2 {
    font-size: 48px;
  }
}
@media (min-width: 1170px) {
  .menu-three h2 {
    font-size: 72px;
  }
}
.menu-four h2 {
  font-size: 24px;
}
@media (min-width: 455px) {
  .menu-four h2 {
    font-size: 48px;
  }
}
@media (min-width: 1170px) {
  .menu-four h2 {
    font-size: 72px;
  }
}

.footer a {
  color: #fdcb46;
  margin: 5px auto 5px auto;
}
.footer a:hover {
  animation: wiggle 0.3s;
  animation-iteration-count: infinite;
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-3deg);
  }
  60% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#body {
  margin: auto;
}
#body a {
  text-decoration: none;
}

.menu-page-one {
  background-color: #fcdfdb;
  box-shadow: -5px -5px 10px #ededed, 5px 5px 10px #ededed;
}
.menu-page-two {
  background-color: #fff5fe;
  box-shadow: -5px -5px 10px #ededed, 5px 5px 10px #ededed;
}
.menu-page-three {
  background-color: #f9f9f9;
  box-shadow: -5px -5px 10px #ededed, 5px 5px 10px #ededed;
}
.menu-page-four {
  background-color: #fdfffd;
  box-shadow: -5px -5px 10px #ededed, 5px 5px 10px #ededed;
}
.menu-title-one h2 {
  background: #3c1218;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-title-two h2 {
  background: linear-gradient(170deg, #e38a12 20%, #6e4ccc 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-title-three h2 {
  background: linear-gradient(to right, #0431df, 20%, #1b91fa 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-title-four h2 {
  background: linear-gradient(165deg, #3d9339 15%, #beff7f 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-title-one h3 {
  color: #3c1218;
}
.menu-title-two h3 {
  color: #c67412;
}
.menu-title-three h3 {
  color: #0887fb;
}
.menu-title-four h3 {
  color: #72bf56;
}
.fa-music {
  background: linear-gradient(120deg, #f04e5f 40%, #f6916a 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#soon {
  color: #fdcb46;
  background-color: #579c87;
}
#soon span {
  animation: apparition 1.4s infinite;
  animation-duration: 1.4s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: apparition;
}
#soon span:nth-child(1) {
  animation-delay: 0.3s;
}
#soon span:nth-child(2) {
  animation-delay: 0.6s;
}
#soon span:nth-child(3) {
  animation-delay: 0.9s;
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*COULEURS TEXTE ET FONDS*/
.menu {
  margin: 0;
  /*couleurs dans menus à duppliquer pour chaque menu*/
}
.menu-one {
  background-color: #fcdfdb;
  box-shadow: -5px -5px 10px #ededed, 5px 5px 10px #ededed;
}
.menu-two {
  background-color: #fff5fe;
  box-shadow: -5px -5px 10px #ededed, 5px 5px 10px #ededed;
}
.menu-three {
  background-color: #f9f9f9;
  box-shadow: -5px -5px 10px #ededed, 5px 5px 10px #ededed;
}
.menu-four {
  background-color: #fdfffd;
  box-shadow: -5px -5px 10px #ededed, 5px 5px 10px #ededed;
}
.menu-title-one-bottom {
  margin-top: 20px;
}
@media (min-width: 455px) {
  .menu-title-one-bottom {
    font-size: 24px;
    font-weight: 900;
    margin-top: 40px;
  }
}
@media (min-width: 1170px) {
  .menu-title-one-bottom {
    font-size: 40px;
    margin-top: 70px;
  }
}
.menu-title-one-bottom p {
  margin-left: 10px;
}
@media (min-width: 455px) {
  .menu-title-one-bottom p {
    margin-left: 15px;
  }
}
@media (min-width: 1170px) {
  .menu-title-one-bottom p {
    margin-left: 20px;
  }
}
.menu table {
  vertical-align: middle;
}
.menu table th:nth-child(1) {
  width: 80%;
}
.menu table th:nth-child(2) {
  width: 20%;
}
.menu table td:nth-child(1) {
  text-align: start;
}
.menu table td:nth-child(2) {
  text-align: end;
}
.menu-table-one {
  color: #3c1218;
}
.menu-table-one-h3 {
  width: 100%;
}
.menu-table-one h3 {
  background: linear-gradient(to top, #3c1218 0%, #3c1218 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
.menu-table-one h3:hover {
  background-size: 100% 100%;
}
.menu-table-two-h3:nth-child(1):before {
  background-color: #c67412;
}
.menu-table-two-h3:nth-child(1):after {
  background-color: #c67412;
}
.menu-table-two-h3:nth-child(1) h3 {
  color: #c67412;
  background: linear-gradient(to top, #c67412 0%, #c67412 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
.menu-table-two-h3:nth-child(3):before {
  background-color: #a56799;
}
.menu-table-two-h3:nth-child(3):after {
  background-color: #a56799;
}
.menu-table-two-h3:nth-child(3) h3 {
  color: #a56799;
  background: linear-gradient(to top, #a56799 0%, #a56799 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
.menu-table-two-h3:nth-child(5):before {
  background-color: #6e4ccc;
}
.menu-table-two-h3:nth-child(5):after {
  background-color: #6e4ccc;
}
.menu-table-two-h3:nth-child(5) h3 {
  color: #6e4ccc;
  background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
.menu-table-two h3:hover {
  background-size: 100% 100%;
}
.menu-table-two table:nth-child(2) {
  color: #c67412;
}
.menu-table-two table:nth-child(4) {
  color: #a56799;
}
.menu-table-two table:nth-child(6) {
  color: #6e4ccc;
}
.menu-table-three {
  color: #000000;
}
.menu-table-three-h3:nth-child(1):before {
  background-color: #0228dd;
}
.menu-table-three-h3:nth-child(1):after {
  background-color: #0228dd;
}
.menu-table-three-h3:nth-child(3):before {
  background-color: #0670f3;
}
.menu-table-three-h3:nth-child(3):after {
  background-color: #0670f3;
}
.menu-table-three-h3:nth-child(5):before {
  background-color: #229df9;
}
.menu-table-three-h3:nth-child(5):after {
  background-color: #229df9;
}
.menu-table-three h3:hover {
  background-size: 100% 100%;
}
.menu-table-four {
  color: #000000;
}
.menu-table-four h3 {
  background: linear-gradient(to top, #beff7f 0%, #beff7f 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
.menu-table-four-h3:before {
  background: linear-gradient(to right, #3d9339 10%, #beff7f 95%);
}
.menu-table-four-h3:after {
  background: linear-gradient(to left, #3d9339 10%, #beff7f 95%);
}
.menu-table-four h3:hover {
  background-size: 100% 100%;
}

/*# sourceMappingURL=style.css.map */
