@charset "UTF-8";
/* COULEURS */
/* rajouter des news couleurs au besoin*/
/*couleurs des noms des restaurants / Rajouter au besoin*/
/* couleurs des textes dans les menus */
/* couleurs des traits dans les menus  */
/* MAP */
/* rajouter des news menu au besoin*/
/* DIMENSIONS */
/* à modifier au besoin */
/* MARGIN & PADDING */
/* rajouter des news menu au besoin*/
body {
  @import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=DM+Sans:wght@700&family=Dancing+Script:wght@700&family=Devonshire&family=Kaushan+Script&display=swap");
}

#main .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}

#main .menu-title-one-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main .menu table h3 {
  width: 70%;
  display: inline-block;
  transition: background-size 1s;
}
@media (min-width: 455px) {
  #main .menu table h3 {
    width: 50%;
  }
}
@media (min-width: 871px) {
  #main .menu table h3 {
    width: 33%;
  }
}

#main .menu-table-four table caption:after, #main .menu-table-four table caption:before, #main .menu-table-three table:nth-child(3) caption:after, #main .menu-table-three table:nth-child(3) caption:before, #main .menu-table-three table:nth-child(2) caption:after, #main .menu-table-three table:nth-child(2) caption:before, #main .menu-table-three table:nth-child(1) caption:after, #main .menu-table-three table:nth-child(1) caption:before, #main .menu-table-two table:nth-child(3) caption::after, #main .menu-table-two table:nth-child(3) caption:before, #main .menu-table-two table:nth-child(2) caption::after, #main .menu-table-two table:nth-child(2) caption:before, #main .menu-table-two table:nth-child(1) caption::after, #main .menu-table-two table:nth-child(1) caption:before, #main .menu-table-one caption:after, #main .menu-table-one caption:before {
  display: inline-block;
  content: "";
  width: 15%;
}
@media (min-width: 455px) {
  #main .menu-table-four table caption:after, #main .menu-table-four table caption:before, #main .menu-table-three table:nth-child(3) caption:after, #main .menu-table-three table:nth-child(3) caption:before, #main .menu-table-three table:nth-child(2) caption:after, #main .menu-table-three table:nth-child(2) caption:before, #main .menu-table-three table:nth-child(1) caption:after, #main .menu-table-three table:nth-child(1) caption:before, #main .menu-table-two table:nth-child(3) caption::after, #main .menu-table-two table:nth-child(3) caption:before, #main .menu-table-two table:nth-child(2) caption::after, #main .menu-table-two table:nth-child(2) caption:before, #main .menu-table-two table:nth-child(1) caption::after, #main .menu-table-two table:nth-child(1) caption:before, #main .menu-table-one caption:after, #main .menu-table-one caption:before {
    width: 25%;
  }
}
@media (min-width: 871px) {
  #main .menu-table-four table caption:after, #main .menu-table-four table caption:before, #main .menu-table-three table:nth-child(3) caption:after, #main .menu-table-three table:nth-child(3) caption:before, #main .menu-table-three table:nth-child(2) caption:after, #main .menu-table-three table:nth-child(2) caption:before, #main .menu-table-three table:nth-child(1) caption:after, #main .menu-table-three table:nth-child(1) caption:before, #main .menu-table-two table:nth-child(3) caption::after, #main .menu-table-two table:nth-child(3) caption:before, #main .menu-table-two table:nth-child(2) caption::after, #main .menu-table-two table:nth-child(2) caption:before, #main .menu-table-two table:nth-child(1) caption::after, #main .menu-table-two table:nth-child(1) caption:before, #main .menu-table-one caption:after, #main .menu-table-one caption:before {
    width: 33%;
  }
}

/* en rajouter si plus de menus */
#main .menu-table-one caption:after, #main .menu-table-one caption:before {
  height: 5px;
  background-color: #3c1218;
}

#main .menu-table-two table:nth-child(3) caption::after, #main .menu-table-two table:nth-child(3) caption:before, #main .menu-table-two table:nth-child(2) caption::after, #main .menu-table-two table:nth-child(2) caption:before, #main .menu-table-two table:nth-child(1) caption::after, #main .menu-table-two table:nth-child(1) caption:before {
  height: 5px;
}

#main .menu-table-three table:nth-child(3) caption:after, #main .menu-table-three table:nth-child(3) caption:before, #main .menu-table-three table:nth-child(2) caption:after, #main .menu-table-three table:nth-child(2) caption:before, #main .menu-table-three table:nth-child(1) caption:after, #main .menu-table-three table:nth-child(1) caption:before {
  height: 5px;
}

#main .menu-table-four table caption:after, #main .menu-table-four table caption:before {
  height: 5px;
}

/* ANIMATIONS */
#main .menu-title-four, #main .menu-title-three, #main .menu-title-two, #main .menu-title-one {
  cursor: pointer;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1000ms;
}
#main .menu-title-four:hover, #main .menu-title-three:hover, #main .menu-title-two:hover, #main .menu-title-one:hover {
  transform: scale(1.15);
  opacity: 0.5;
}

/* POLICES */
.menu-title-one h2 {
  font-family: "Devonshire", cursive;
  font-weight: 500;
}

.menu-table-one h3, .menu-table-one, .menu-title-one-bottom, .menu-title-one h3 {
  font-family: calliope-mvb, sans-serif;
  font-style: normal;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 18px;
}

.menu-title-two h2 {
  font-family: "Croissant One", cursive;
}

.menu-table-two, .menu-title-two h3 {
  font-family: noto-serif, serif;
  font-weight: 500;
  font-style: normal;
}

.menu-title-three h2 {
  font-family: "Dancing Script", cursive;
}

.menu-table-three, .menu-title-three h3 {
  font-family: calliope-mvb, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
}

.menu-title-four h2 {
  font-family: "Kaushan Script", cursive;
}

.menu-table-four, .menu-title-four h3 {
  font-family: calliope-mvb, sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
}

.header {
  font-family: "DM Sans", sans-serif;
  letter-spacing: -2px;
  font-weight: bold;
  font-size: 20px;
}
@media (min-width: 455px) {
  .header {
    font-size: 25px;
  }
}
@media (min-width: 871px) {
  .header {
    font-size: 30px;
  }
}

#soon {
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0px;
  font-weight: normal;
  font-size: 18px;
}
@media (min-width: 871px) {
  #soon {
    font-size: 28px;
  }
}

#footer-page {
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0px;
  font-weight: normal;
  font-size: 18px;
}
@media (min-width: 455px) {
  #footer-page {
    font-size: 22px;
  }
}
@media (min-width: 871px) {
  #footer-page {
    font-size: 26px;
  }
}

#footer-page a:nth-child(2) {
  text-align: right;
}

#main > h1 {
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 20px;
}
@media (min-width: 455px) {
  #main > h1 {
    font-size: 24px;
  }
}
@media (min-width: 871px) {
  #main > h1 {
    font-size: 30px;
  }
}

/* taille et dispositions des menus */
#main .menu-four, #main .menu-three, #main .menu-two, #main .menu-one {
  margin: 20px 30px 110px 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main .menu article:nth-child(2) {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  margin: auto;
}

/* intex.html */
#main {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px 25px 125px 25px;
}
#main h1 {
  margin: 30px auto auto auto;
}
#main .menu {
  /* La note enchantée */
  /* Le chic à la française */
  /* Le délice des poapilles */
  /* La palettes du goût */
}
#main .menu-page-one {
  margin: 25px 25px 25px 25px;
  width: 250px;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 455px) {
  #main .menu-page-one {
    width: 300px;
    height: 450px;
  }
}
@media (min-width: 871px) {
  #main .menu-page-one {
    width: 500px;
    height: 750px;
  }
}
#main .menu-page-two {
  margin: 25px 25px 25px 25px;
  width: 250px;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 455px) {
  #main .menu-page-two {
    width: 300px;
    height: 450px;
  }
}
@media (min-width: 871px) {
  #main .menu-page-two {
    width: 500px;
    height: 750px;
  }
}
#main .menu-page-three {
  margin: 25px 25px 25px 25px;
  width: 250px;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 455px) {
  #main .menu-page-three {
    width: 300px;
    height: 450px;
  }
}
@media (min-width: 871px) {
  #main .menu-page-three {
    width: 500px;
    height: 750px;
  }
}
#main .menu-page-four {
  margin: 25px 25px 25px 25px;
  width: 250px;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 455px) {
  #main .menu-page-four {
    width: 300px;
    height: 450px;
  }
}
@media (min-width: 871px) {
  #main .menu-page-four {
    width: 500px;
    height: 750px;
  }
}
#main .menu table {
  min-width: 100%;
}
#main .menu table td:nth-child(1) {
  width: 75%;
}
#main .menu table td:nth-child(2) {
  width: 15%;
}
#main .menu article:nth-child(1) {
  margin: 40px auto 0px auto;
}
@media (min-width: 455px) {
  #main .menu-one {
    padding: 0px 80px 50px 80px;
  }
}
@media (min-width: 871px) {
  #main .menu-one {
    margin: 20px 80px 120px 80px;
  }
}
#main .menu-title-one-bottom {
  margin: 20px auto 0px auto;
}
@media (min-width: 455px) {
  #main .menu-two {
    padding: 0px 20px 50px 20px;
  }
  #main .menu-two td:nth-child(1) {
    padding-left: 40px;
  }
  #main .menu-two td:nth-child(2) {
    padding-right: 40px;
  }
}
@media (min-width: 871px) {
  #main .menu-two {
    padding: 0px 20px 50px 20px;
  }
  #main .menu-two td:nth-child(1) {
    padding-left: 80px;
  }
  #main .menu-two td:nth-child(2) {
    padding-right: 80px;
  }
}
@media (min-width: 871px) {
  #main .menu-two {
    margin: 20px 80px 120px 80px;
  }
}
@media (min-width: 455px) {
  #main .menu-three {
    padding: 0px 20px 50px 20px;
  }
  #main .menu-three td:nth-child(1) {
    padding-left: 40px;
  }
  #main .menu-three td:nth-child(2) {
    padding-right: 40px;
  }
}
@media (min-width: 871px) {
  #main .menu-three {
    padding: 0px 20px 50px 20px;
  }
  #main .menu-three td:nth-child(1) {
    padding-left: 80px;
  }
  #main .menu-three td:nth-child(2) {
    padding-right: 80px;
  }
}
@media (min-width: 871px) {
  #main .menu-three {
    margin: 20px 80px 120px 80px;
  }
}
@media (min-width: 455px) {
  #main .menu-four {
    padding: 0px 20px 50px 20px;
  }
  #main .menu-four td:nth-child(1) {
    padding-left: 40px;
  }
  #main .menu-four td:nth-child(2) {
    padding-right: 40px;
  }
}
@media (min-width: 871px) {
  #main .menu-four {
    padding: 0px 20px 50px 20px;
  }
  #main .menu-four td:nth-child(1) {
    padding-left: 80px;
  }
  #main .menu-four td:nth-child(2) {
    padding-right: 80px;
  }
}
@media (min-width: 871px) {
  #main .menu-four {
    margin: 20px 60px 120px 60px;
  }
}
#main #soon {
  display: inline-block;
  border-radius: 10px 10px;
  width: 300px;
  height: 62.5px;
  margin: 0 0 200px 0;
}
@media (min-width: 455px) {
  #main #soon {
    display: flex;
    border-radius: 10px 10px;
    width: 500px;
    height: 62.5px;
    justify-content: center;
    align-items: center;
    margin: 25px 25px 200px 25px;
  }
}
#main #soon p {
  margin-right: 10px;
}

.menu-title-one h2 {
  font-size: 25px;
}
.menu-title-one .fa-music {
  font-size: 40px;
}
.menu-title-one h3 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
}
.menu-title-one-page {
  animation: none;
}
.menu-title-one-page h2 {
  font-size: 40px;
}
.menu-title-one-page .fa-music {
  font-size: 60px;
}
@media (min-width: 455px) {
  .menu-title-one-bottom {
    font-size: 22px;
  }
}
@media (min-width: 871px) {
  .menu-title-one-bottom {
    font-size: 26px;
  }
}

.menu-table-one {
  line-height: 150%;
}
@media (min-width: 455px) {
  .menu-table-one h3 {
    font-size: 22px;
  }
}
@media (min-width: 871px) {
  .menu-table-one h3 {
    font-size: 26px;
  }
}
.menu-table-one td {
  font-size: 14px;
}
@media (min-width: 455px) {
  .menu-table-one td {
    font-size: 18px;
  }
}
@media (min-width: 871px) {
  .menu-table-one td {
    font-size: 22px;
  }
}

.menu-title-two h2 {
  font-size: 16px;
}
.menu-title-two h3 {
  font-size: 30px;
  font-weight: 900;
}
.menu-title-two-page {
  animation: none;
}
.menu-title-two-page h2 {
  font-size: 20px;
}
@media (min-width: 455px) {
  .menu-title-two-page h2 {
    font-size: 30px;
  }
}
@media (min-width: 871px) {
  .menu-title-two-page h2 {
    font-size: 40px;
  }
}

.menu-table-two {
  line-height: 150%;
}
.menu-table-two h3 {
  font-size: 14px;
}
@media (min-width: 871px) {
  .menu-table-two h3 {
    font-size: 22px;
  }
}
.menu-table-two td {
  font-size: 14px;
}
@media (min-width: 871px) {
  .menu-table-two td {
    font-size: 20px;
  }
}

.menu-title-three h2 {
  font-size: 24px;
}
.menu-title-three h3 {
  font-size: 30px;
  font-weight: 900;
}
.menu-title-three-page {
  animation: none;
}
.menu-title-three-page h2 {
  font-size: 34px;
}
@media (min-width: 455px) {
  .menu-title-three-page h2 {
    font-size: 50px;
  }
}
@media (min-width: 871px) {
  .menu-title-three-page h2 {
    font-size: 70px;
  }
}

.menu-table-three {
  line-height: 150%;
}
.menu-table-three h3 {
  font-size: 16px;
}
@media (min-width: 455px) {
  .menu-table-three h3 {
    font-size: 18px;
  }
}
@media (min-width: 871px) {
  .menu-table-three h3 {
    font-size: 24px;
  }
}
.menu-table-three td {
  font-size: 16px;
}
@media (min-width: 871px) {
  .menu-table-three td {
    font-size: 22px;
  }
}

.menu-title-four h2 {
  font-size: 24px;
}
.menu-title-four h3 {
  font-size: 30px;
  font-weight: 900;
}
.menu-title-four-page {
  animation: none;
}
.menu-title-four-page h2 {
  font-size: 26px;
}
@media (min-width: 455px) {
  .menu-title-four-page h2 {
    font-size: 50px;
  }
}
@media (min-width: 871px) {
  .menu-title-four-page h2 {
    font-size: 70px;
  }
}

.menu-table-four {
  line-height: 150%;
}
.menu-table-four h3 {
  font-size: 16px;
}
@media (min-width: 455px) {
  .menu-table-four h3 {
    font-size: 20px;
  }
}
@media (min-width: 871px) {
  .menu-table-four h3 {
    font-size: 26px;
  }
}
.menu-table-four td {
  font-size: 16px;
}
@media (min-width: 871px) {
  .menu-table-four td {
    font-size: 22px;
  }
}

.header {
  height: 150px;
  width: 100%;
  display: flex;
  background-color: #579c87;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #a1c181;
  color: #fdcb46;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 87.5px;
  align-items: center;
  justify-content: space-between;
  background-color: #579c87;
  border-top: 3px solid #a1c181;
}
.footer a {
  color: #fdcb46;
}
.footer a:hover {
  animation: wiggle 0.3s;
  animation-iteration-count: infinite;
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-3deg);
  }
  60% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.footer a:nth-child(1) {
  padding-left: 40px;
}
.footer a:nth-child(2) {
  padding-right: 40px;
}

#body {
  width: auto;
}
#body a {
  text-decoration: none;
}

#main {
  max-width: 100%;
  height: 100%;
}
#main .menu-page-one {
  background-color: #fcdfdb;
  box-shadow: -5px -5px 10px #ededed, 5px 5px 10px #ededed;
}
#main .menu-page-two {
  background-color: #fff5fe;
  box-shadow: -5px -5px 10px #ededed, 5px 5px 10px #ededed;
}
#main .menu-page-three {
  background-color: #f9f9f9;
  box-shadow: -5px -5px 10px #ededed, 5px 5px 10px #ededed;
}
#main .menu-page-four {
  background-color: #fdfffd;
  box-shadow: -5px -5px 10px #ededed, 5px 5px 10px #ededed;
}
#main .menu-title-one h2 {
  background: #3c1218;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#main .menu-title-two h2 {
  background: linear-gradient(170deg, #e38a12 20%, #6e4ccc 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#main .menu-title-three h2 {
  background: linear-gradient(to right, #0431df, 20%, #1b91fa 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#main .menu-title-four h2 {
  background: linear-gradient(165deg, #3d9339 15%, #beff7f 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#main .menu-title-one h3 {
  color: #3c1218;
}
#main .menu-title-two h3 {
  color: #c67412;
}
#main .menu-title-three h3 {
  color: #0887fb;
}
#main .menu-title-four h3 {
  color: #72bf56;
}
.fa-music {
  background: linear-gradient(120deg, #f04e5f 40%, #f6916a 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#soon {
  color: #fdcb46;
  background-color: #579c87;
}
#soon span {
  animation: apparition 1.4s infinite;
  animation-duration: 1.4s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: apparition;
}
#soon span:nth-child(1) {
  animation-delay: 0.3s;
}
#soon span:nth-child(2) {
  animation-delay: 0.6s;
}
#soon span:nth-child(3) {
  animation-delay: 0.9s;
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#main {
  max-width: 100%;
  height: 100%;
  margin: 0;
}
#main .menu {
  /*couleurs dans menus à duppliquer pour chaque menu*/
}
#main .menu-one {
  background-color: #fcdfdb;
  box-shadow: -5px -5px 10px #ededed, 5px 5px 10px #ededed;
}
#main .menu-two {
  background-color: #fff5fe;
  box-shadow: -5px -5px 10px #ededed, 5px 5px 10px #ededed;
}
#main .menu-three {
  background-color: #f9f9f9;
  box-shadow: -5px -5px 10px #ededed, 5px 5px 10px #ededed;
}
#main .menu-four {
  background-color: #fdfffd;
  box-shadow: -5px -5px 10px #ededed, 5px 5px 10px #ededed;
}
#main .menu table {
  vertical-align: middle;
}
#main .menu table th:nth-child(1) {
  width: 80%;
}
#main .menu table th:nth-child(2) {
  width: 20%;
}
#main .menu table td:nth-child(1) {
  text-align: start;
}
#main .menu table td:nth-child(2) {
  text-align: end;
}
#main .menu-table-one {
  color: #3c1218;
}
#main .menu-table-one h3 {
  background: linear-gradient(to top, #3c1218 0%, #3c1218 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
#main .menu-table-one h3:hover {
  background-size: 100% 100%;
}
#main .menu-table-two table:nth-child(1) {
  color: #c67412;
}
#main .menu-table-two table:nth-child(1) h3 {
  background: linear-gradient(to top, #c67412 0%, #c67412 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
#main .menu-table-two table:nth-child(1) h3:hover {
  background-size: 100% 100%;
}
#main .menu-table-two table:nth-child(1) caption:before {
  background-color: #c67412;
}
#main .menu-table-two table:nth-child(1) caption::after {
  background-color: #c67412;
}
#main .menu-table-two table:nth-child(2) {
  color: #a56799;
}
#main .menu-table-two table:nth-child(2) h3 {
  background: linear-gradient(to top, #a56799 0%, #a56799 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
#main .menu-table-two table:nth-child(2) h3:hover {
  background-size: 100% 100%;
}
#main .menu-table-two table:nth-child(2) caption:before {
  background-color: #a56799;
}
#main .menu-table-two table:nth-child(2) caption::after {
  background-color: #a56799;
}
#main .menu-table-two table:nth-child(3) {
  color: #6e4ccc;
}
#main .menu-table-two table:nth-child(3) h3 {
  background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
#main .menu-table-two table:nth-child(3) h3:hover {
  background-size: 100% 100%;
}
#main .menu-table-two table:nth-child(3) caption:before {
  background-color: #6e4ccc;
}
#main .menu-table-two table:nth-child(3) caption::after {
  background-color: #6e4ccc;
}
#main .menu-table-three {
  color: #000000;
}
#main .menu-table-three table:nth-child(1) h3 {
  background: linear-gradient(to top, #0228dd 0%, #0228dd 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
#main .menu-table-three table:nth-child(1) h3:hover {
  background-size: 100% 100%;
}
#main .menu-table-three table:nth-child(1) caption:before {
  background-color: #0228dd;
}
#main .menu-table-three table:nth-child(1) caption:after {
  background-color: #0228dd;
}
#main .menu-table-three table:nth-child(2) h3 {
  background: linear-gradient(to top, #0670f3 0%, #0670f3 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
#main .menu-table-three table:nth-child(2) h3:hover {
  background-size: 100% 100%;
}
#main .menu-table-three table:nth-child(2) caption:before {
  background-color: #0670f3;
}
#main .menu-table-three table:nth-child(2) caption:after {
  background-color: #0670f3;
}
#main .menu-table-three table:nth-child(3) h3 {
  background: linear-gradient(to top, #0670f3 0%, #0670f3 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
#main .menu-table-three table:nth-child(3) h3:hover {
  background-size: 100% 100%;
}
#main .menu-table-three table:nth-child(3) caption:before {
  background-color: #229df9;
}
#main .menu-table-three table:nth-child(3) caption:after {
  background-color: #229df9;
}
#main .menu-table-four {
  color: #000000;
}
#main .menu-table-four table h3 {
  background: linear-gradient(to top, #beff7f 0%, #beff7f 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
#main .menu-table-four table h3:hover {
  background-size: 100% 100%;
}
#main .menu-table-four table caption:before {
  background: linear-gradient(to right, #3d9339 10%, #beff7f 95%);
}
#main .menu-table-four table caption:after {
  background: linear-gradient(to left, #3d9339 10%, #beff7f 95%);
}

/*# sourceMappingURL=style.css.map */
