@charset "UTF-8";
/* COULEURS */
/* rajouter des news couleurs au besoin*/
/*couleurs des noms des restaurants / Rajouter au besoin*/
/* couleurs des textes dans les menus */
/* MAP */
/* rajouter des news menu au besoin*/
/* MARGIN & PADDING */
/* rajouter des news menu au besoin*/
/* TAILLE DE MENUS */
#main .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}

#main .menu-title-one-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* en rajouter si plus de menus */
#main .menu table .caption-one:after, #main .menu table .caption-one:before {
  content: "";
  width: 31.5%;
  height: 10px;
  background-color: blue;
}

#main .menu table .caption-two:after, #main .menu table .caption-two:before {
  content: "";
  width: 31.5%;
  height: 10px;
  background-color: blue;
}

#main .menu table .caption-three:after, #main .menu table .caption-three:before {
  content: "";
  width: 100px;
  height: 10px;
  background-color: blue;
}

#main .menu table .caption-four:after, #main .menu table .caption-four:before {
  content: "";
  width: 100px;
  height: 10px;
  background-color: blue;
}

#main .menu-title-four, #main .menu-title-three, #main .menu-title-two, #main .menu-title-one {
  cursor: pointer;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1000ms;
}
#main .menu-title-four:hover, #main .menu-title-three:hover, #main .menu-title-two:hover, #main .menu-title-one:hover {
  transform: scale(1.15);
}

body {
  margin: auto;
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: auto;
}

/* intex.html */
#main {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px 40px 123.5px 40px;
}
#main .menu-page-one {
  margin: 40px 40px 40px 40px;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main .menu-page-two {
  margin: 40px 40px 40px 40px;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main .menu-page-three {
  margin: 40px 40px 40px 40px;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main .menu-page-four {
  margin: 40px 40px 40px 40px;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main #soon {
  display: flex;
  border-radius: 10px 10px;
  width: 400px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
#main #soon p {
  margin-right: 10px;
}

.fa-music {
  background: linear-gradient(120deg, #f04e5f 40%, #f6916a 75%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#header {
  width: 100%;
}

#header-page {
  display: flex;
  background-color: #579c87;
  justify-content: center;
  height: 100px;
  align-items: center;
  border-bottom: 3px solid #a1c181;
  /* à modifier en bloc de propriétés (idem footer)*/
}
#header-page * {
  color: #fdcb46;
}

#footer {
  width: 100%;
}

#footer-page {
  display: flex;
  position: fixed;
  /* ne fonctionne pas */
  bottom: 0;
  left: 0;
  width: 90%;
  height: 75px;
  align-items: center;
  justify-content: space-between;
  background-color: #579c87;
  padding-left: 40px;
  padding-right: 100px;
  border-top: 3px solid #a1c181;
}
#footer-page a {
  color: #fdcb46;
}

#main .menu-page-one {
  background-color: #fcdfdb;
  box-shadow: -5px -5px 10px #ededed, 5px 5px 10px #ededed;
}
#main .menu-page-two {
  background-color: #fff5fe;
  box-shadow: -5px -5px 10px #ededed, 5px 5px 10px #ededed;
}
#main .menu-page-three {
  background-color: #f9f9f9;
  box-shadow: -5px -5px 10px #ededed, 5px 5px 10px #ededed;
}
#main .menu-page-four {
  background-color: #fdfffd;
  box-shadow: -5px -5px 10px #ededed, 5px 5px 10px #ededed;
}
#main .menu-title-one h2 {
  background: #3c1218;
}
#main .menu-title-two h2 {
  background: linear-gradient(170deg, #e38a12 20%, #6e4ccc 45%);
}
#main .menu-title-three h2 {
  background: linear-gradient(to right, #0431df, 20%, #1b91fa 60%);
}
#main .menu-title-four h2 {
  background: linear-gradient(165deg, #3d9339 15%, #beff7f 55%);
}
#main .menu h2 {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#main .menu-title-one h3 {
  color: #3c1218;
}
#main .menu-title-two h3 {
  color: #c67412;
}
#main .menu-title-three h3 {
  color: #0887fb;
}
#main .menu-title-four h3 {
  color: #72bf56;
}
#soon {
  color: #fdcb46;
  background-color: #579c87;
}

/* menu-n°.html */
#title {
  /* identiques sur les 4 menus !!! */
}

#main .menu-one {
  background-color: #fcdfdb;
  box-shadow: -5px -5px 10px #ededed, 5px 5px 10px #ededed;
}
#main .menu-two {
  background-color: #fff5fe;
  box-shadow: -5px -5px 10px #ededed, 5px 5px 10px #ededed;
}
#main .menu-three {
  background-color: #f9f9f9;
  box-shadow: -5px -5px 10px #ededed, 5px 5px 10px #ededed;
}
#main .menu-four {
  background-color: #fdfffd;
  box-shadow: -5px -5px 10px #ededed, 5px 5px 10px #ededed;
}
#main .menu table {
  width: 100%;
  vertical-align: middle;
  /* à dupliquer pour chaque menus*/
}
#main .menu table th:nth-child(1) {
  width: 80%;
}
#main .menu table th:nth-child(2) {
  width: 20%;
}
#main .menu table td:nth-child(1) {
  text-align: start;
}
#main .menu table td:nth-child(2) {
  text-align: end;
}
#main .menu table caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#main .menu-table-one {
  color: #3c1218;
}
#main .menu-table-two table:nth-child(1) {
  color: #c67412;
}
#main .menu-table-two table:nth-child(2) {
  color: #a56799;
}
#main .menu-table-two table:nth-child(3) {
  color: #6e4ccc;
}
#main .menu-table-three {
  color: #000000;
}
#main .menu-table-four {
  color: #000000;
}

/*# sourceMappingURL=style.css.map */
