body {
    margin: auto;
 
}
    /* intex.html */

h1 {
    margin: $margin-menu-h1;
    text-align: center;
}
    /*HOME*/
#main {
    @extend %menu-typography;
    max-width: 100%;
    height: 100%;

    .menu {
        max-width: 80%;
        height: $height-body;


        @each $number, $margin in $margin-menu {
            &-page-#{$number} {
                margin: $margin;
                width: $width-menu;
                height: $height-menu;


                @media (min-width:$media-large) {
                    width: $width-menu-large;
                    height: $height-menu-large;
                }

                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: $padding-menu-home;
            }
        }
    }
}
    /*PAGES*/

.menu {
    max-width: 100%;
    height: $height-body;

    @extend %menu-typography;

    table {
        td:nth-child(1) {
            width: $width-menu-table-column-left;
        }

        td:nth-child(2) {
            width: $width-menu-table-column-price;
        }
        /*rajouter un margin-top*/
        margin-top: 10px;
        margin-bottom: 10px;

        @media (min-width:$media-large) {
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }

    section:nth-child(1) {
        margin: $margin-menu-title;
    }

    section:nth-child(2) {
        @extend %menu-table;
        width: 90%;
    }
    /* La note enchantée */
    h2 {
        @media (min-width:$media-large) {
            margin: $margin-menu-h2-large;
        }
    }

    &-one {
        @extend %bloc-menu;

        * {
            margin: auto;
          
        }

        section:nth-child(2) {
            @extend %menu-table;
            width: 95%;

            @media (min-width:$media-large) {
                width: 80%;
            }         
        }
    }
    /* Le chic à la française */
    &-two {
        @extend %bloc-menu;

        * {
            margin: auto;
            width: 100%;
        }

        @media (min-width:$media-middle) {

            td:nth-child(1) {
                padding-left: 40px;
            }

            td:nth-child(2) {
                padding-right: 40px;
            }
        }

        @media (min-width:$media-large) {
            td:nth-child(1) {
                padding-left: 80px;
            }

            td:nth-child(2) {
                padding-right: 80px;
            }
        }

        section:nth-child(2) {
            @extend %menu-table;
            width: 95%;

            @media (min-width:$media-large) {
                width: 90%;
            }
        }
    }
    /* Le délice des poapilles */
    &-three {
        @extend %bloc-menu;

        * {
            margin: auto;
            width: 100%;
        }

        @media (min-width:$media-middle) {
            td:nth-child(1) {
                padding-left: 40px;
            }

            td:nth-child(2) {
                padding-right: 40px;
            }
        }

        @media (min-width:$media-large) {
            td:nth-child(1) {
                padding-left: 80px;
            }

            td:nth-child(2) {
                padding-right: 80px;
            }
        }

        section:nth-child(2) {
            @extend %menu-table;
            width: 95%;

            @media (min-width:$media-large) {
                width: 90%;
            }
        }

        .menu-table-three {
            margin: auto;
        }
    }
    /* La palettes du goût */
    &-four {
        @extend %bloc-menu;

        * {
            margin: auto;
            width: 100%;
        }

        @media (min-width:$media-middle) {
            td:nth-child(1) {
                padding-left: 40px;
            }

            td:nth-child(2) {
                padding-right: 40px;
            }
        }

        @media (min-width:$media-large) {
            td:nth-child(1) {
                padding-left: 80px;
            }

            td:nth-child(2) {
                padding-right: 80px;
            }
        }

        section:nth-child(2) {
            @extend %menu-table;
            width: 95%;

            @media (min-width:$media-large) {
                width: 90%;
            }
        }

        .menu-table-four {
            margin: auto;
        }
    }
}


#soon {
    display: ruby;
    border-radius: 10px 10px;
    width: 300px;
    height: 62.5px;
    margin: $margin-soon-small;

    @media (min-width:$media-middle) {
        display: flex;
        border-radius: 10px 10px;
        width: $width-soon;
        height: $height-soon;
        justify-content: center;
        align-items: center;
        margin: $margin-soon-middle;
    }

    @media (min-width:$media-large) {
        margin: $margin-soon-large;
    }

    p {
        margin-right: 10px;
    }
}



 
   