body {
    margin: auto;
}
    /* intex.html */
#main {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: $margin-main;

    .menu {
        @extend %menu-typography;


        @each $number, $margin in $margin-menu {
            &-page-#{$number} {
                margin: $margin;
                width: $width-menu;
                height: $height-menu;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    #soon {
        display: flex;
        border-radius: 10px 10px;
        width: 400px;
        height: 50px;
        justify-content: center;
        align-items: center;

        p {
            margin-right: 10px;
        }
    }
}

   