#header-page{
    @extend %ohmyfood;
}
#footer-page {
    @extend %footer-page;
    a:nth-child(2)
    {
        @extend %footer-page-mail;
    }
}
#soon {
    @extend %soon;
}
#main > h1 {
    @extend %title;
}
.menu-title-one {
    h2 {
        @extend %fonts-menu-title-one;
        font-size: 25px;
    }
    .fa-music {
        font-size: 40px;
    }
    h3 {
        @extend %fonts-menu-table-one;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 30px;
    }
    &-page {
        animation: none;

        h2 {
            font-size: 40px;
        }

        .fa-music {
            font-size: 60px;
        }
    }

    &-bottom {
        @extend %fonts-menu-table-one;

        @media(min-width: $media-middle) {
            font-size: 22px;
        }

        @media(min-width: $media-large) {
            font-size: 26px;
        }
    }
}

.menu-table-one {
    @extend %fonts-menu-table-one;
    line-height: 150%;

    h3 {
        @extend %fonts-menu-table-one;

        @media(min-width: $media-middle) {
            font-size: 22px;
        }

        @media(min-width: $media-large) {
            font-size: 26px;
        }
    }

    td {
        font-size: 14px;

        @media (min-width: $media-middle) {
            font-size: 18px;
        }

        @media (min-width:$media-large) {
            font-size: 22px;
        }
    }
}
.menu-title-two {
    h2 {
        @extend %fonts-menu-title-two;
        font-size: 16px;
    }
    h3 {
        @extend %fonts-menu-table-two;
        font-size: 30px;
        font-weight: 900;
    }
    &-page {
        animation: none;

        h2 {
            font-size: 20px;
            @media(min-width: $media-middle) {
                font-size: 30px;
            }

            @media(min-width: $media-large) {
                font-size: 40px;
            }
        }
    }
}

.menu-table-two {
    @extend %fonts-menu-table-two;
    line-height: 150%;
    h3 {
        font-size: 14px;
        @media(min-width: $media-large) {
            font-size: 22px;
        }
    }
    td {
        font-size: 14px;
        @media (min-width:$media-large) {
            font-size: 20px;
        }
    }
}


.menu-title-three {
    h2 {
        @extend %fonts-menu-title-three;
        font-size: 24px;
    }
    h3 {
        @extend %fonts-menu-table-three;
        font-size: 30px;
        font-weight: 900;
    }
    &-page {
        animation: none;

        h2 {
            font-size: 34px;

            @media(min-width: $media-middle) {
                font-size: 50px;
            }

            @media(min-width: $media-large) {
                font-size: 70px;
            }
        }
    }
}

.menu-table-three {
    @extend %fonts-menu-table-three;
    line-height: 150%;
    h3 {
        font-size: 16px;

        @media(min-width: $media-middle) {
            font-size: 18px;
        }

        @media(min-width: $media-large) {
            font-size: 24px;
        }
    }
    td {
        font-size: 16px;

        @media (min-width:$media-large) {
            font-size: 22px;
        }
    }
}

.menu-title-four {
    h2 {
        @extend %fonts-menu-title-four;
        font-size: 24px;
    }

    h3 {
        @extend %fonts-menu-table-four;
        font-size: 30px;
        font-weight: 900;
    }

    &-page {
        animation: none;

        h2 {
            font-size: 26px;

            @media(min-width: $media-middle) {
                font-size: 50px;
            }

            @media(min-width: $media-large) {
                font-size: 70px;
            }
        }
    }
}

.menu-table-four {
    @extend %fonts-menu-table-four;
    line-height: 150%;

    h3 {
        font-size: 16px;

        @media(min-width: $media-middle) {
            font-size: 20px;
        }

        @media(min-width: $media-large) {
            font-size: 26px;
        }
    }

    td {
        font-size: 16px;

        @media (min-width:$media-large) {
            font-size: 22px;
        }
    }
}



