/*COULEURS TEXTE ET FONDS*/
.menu {
    margin: 0;

    @each $number, $background-color in $background-color-menu {
        &-#{$number} {
            background-color: $background-color;
            @include shadow-menus;
        }
    }


    &-title-one-bottom {
        @extend %menu-title-bottom;
        margin-top: 20px;

        @media(min-width: $media-middle) {
            font-size: 24px;
            font-weight: 900;
            margin-top: 40px;
        }

        @media(min-width: $media-large) {
            font-size: 40px;
            margin-top: 70px;
        }

        .fas {
            @extend %menu-title-bottom-fas;
        }

        h4 {
            @extend %menu-title-bottom-p;
            margin-left: $margin-bottom-fas;

            @media(min-width: $media-middle) {
                margin-left: $margin-bottom-fas*1.5;
            }

            @media(min-width: $media-large) {
                margin-left: $margin-bottom-fas*2;
            }
        }
    }

    table {
        vertical-align: middle;

        th:nth-child(1) {
            width: 80%;
        }

        th:nth-child(2) {
            width: 20%;
        }

        td:nth-child(1) {
            text-align: start;
        }

        td:nth-child(2) {
            text-align: end;
        }
    }
    /*couleurs dans menus à duppliquer pour chaque menu*/
    &-table {
        &-one {
            color: $color-text-one;

            &-h3 {
                width: 100%;
            }

            &-h3:before {
                @extend %beforeafter-one;
            }

            &-h3:after {
                @extend %beforeafter-one;
            }

            h3 {
                background: linear-gradient(to top, $color-text-one 0%, $color-text-one 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
                @extend %typography-h3-one;
            }

            h3:hover {
                background-size: 100% 100%;
            }
        }

        &-two {
            &-h3:nth-child(1):before {
                @extend %beforeafter-two;
                background-color: $color-text-two-first;
            }

            &-h3:nth-child(1):after {
                @extend %beforeafter-two;
                background-color: $color-text-two-first;
            }

            &-h3:nth-child(1) {
                h3 {
                    color: $color-text-two-first;
                    @extend %typography-h3-two;
                    background: linear-gradient(to top, $color-text-two-first 0%, $color-text-two-first 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
                }
            }

            &-h3:nth-child(3):before {
                @extend %beforeafter-two;
                background-color: $color-text-two-second;
            }

            &-h3:nth-child(3):after {
                @extend %beforeafter-two;
                background-color: $color-text-two-second;
            }

            &-h3:nth-child(3) {
                h3 {
                    color: $color-text-two-second;
                    @extend %typography-h3-two;
                    background: linear-gradient(to top, $color-text-two-second 0%, $color-text-two-second 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
                }
            }

            &-h3:nth-child(5):before {
                @extend %beforeafter-two;
                background-color: $color-text-two-third;
            }

            &-h3:nth-child(5):after {
                @extend %beforeafter-two;
                background-color: $color-text-two-third;
            }

            &-h3:nth-child(5) {
                h3 {
                    color: $color-text-two-third;
                    @extend %typography-h3-two;
                    background: linear-gradient(to top, $color-text-two-third 0%, $color-text-two-third 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
                }
            }

            h3:hover {
                background-size: 100% 100%;
            }

            table:nth-child(2) {
                color: $color-text-two-first;
            }

            table:nth-child(4) {
                color: $color-text-two-second;
            }

            table:nth-child(6) {
                color: $color-text-two-third;
            }
        }

        &-three {
            color: $color-text-three;

            h3 {
                @extend %typography-h3-three;
            }

            &-h3:nth-child(1) {
                h3 {
                    background: linear-gradient(to top, $background-color-three-first 0%, $background-color-three-first 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
                }
            }

            &-h3:nth-child(1):before {
                @extend %beforeafter-three;
                background-color: $background-color-three-first;
            }

            &-h3:nth-child(1):after {
                @extend %beforeafter-three;
                background-color: $background-color-three-first;
            }

            &-h3:nth-child(3) {
                h3 {
                    background: linear-gradient(to top, $background-color-three-second 0%, $background-color-three-second 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
                }
            }

            &-h3:nth-child(3):before {
                @extend %beforeafter-three;
                background-color: $background-color-three-second;
            }

            &-h3:nth-child(3):after {
                @extend %beforeafter-three;
                background-color: $background-color-three-second;
            }

            &-h3:nth-child(5):before {
                @extend %beforeafter-three;
                background-color: $background-color-three-third;
            }

            &-h3:nth-child(5) {
                h3 {
                    background: linear-gradient(to top, $background-color-three-third 0%, $background-color-three-third 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
                }
            }

            &-h3:nth-child(5):after {
                @extend %beforeafter-three;
                background-color: $background-color-three-third;
            }

            h3:hover {
                background-size: 100% 100%;
            }
        }


        &-four {
            color: $color-text-four;

            h3 {
                @extend %typography-h3-four;
                background: linear-gradient(to top, $backgroung-color-four-underline 0%, $backgroung-color-four-underline 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
            }

            &-h3:before {
                @extend %beforeafter-four;
                background: $background-color-four-before;
            }

            &-h3:after {
                @extend %beforeafter-four;
                background: $background-color-four-after;
            }

            h3:hover {
                background-size: 100% 100%;
            }
        }
    }
}


            
       

    
