

/* taille et dispositions des block */
%header {
    width: 100%;
    display: flex;
    background-color: $background-color-green;
    justify-content: center;
    align-items: center;
    border-bottom: $border solid $border-header-footer;
    color: $color-yellow;
    height: $height-header*0.5;

    @media (min-width:$media-middle) {
        height: $height-header*0.7;
    }

    @media (min-width:$media-large) {
        height: $height-header;
    }
}
%footer {
    position: initial;

    @media (min-width:$media-middle) {
        position: fixed;
    }

    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: $background-color-green;
    border-top: $border solid $border-header-footer;
    height: $height-footer;


    @media (min-width:$media-middle) {
        height: $height-footer*0.8;
        justify-content: space-between;
        flex-direction: initial;

        a:nth-child(1) {
            margin-left: 30px;
        }

        a:nth-child(2) {
            margin-right: 40px;
        }
    }

    @media (min-width:$media-large) {
        height: $height-footer;
    }
}
%bloc-menu {
    width: $width-menu-table;

    @media(min-width: $media-large) {
        width: $width-menu-table-large;
    }

    height: $height-menu-table;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: $margin-menu-small;
    padding-bottom: 30px;

    @media (min-width:$media-middle) {
        margin: $margin-menu-middle;
    }

    @media (min-width:$media-large) {
        margin: $margin-menu-large;
    }
}

%menu-table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
%menu-typography {
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
%legal-notice {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 20px 20px 60px 20px;

    @media (min-width:$media-middle) {
        margin: 20px 40px 100px 40px;
    }

    @media (min-width:$media-large) {
        margin: 20px 60px 120px 60px;
    }

    h2 {
        text-align: center;
    }

    ul {
        padding-left: 0px;

        @media (min-width:$media-large) {
            padding: 0px 60px 0px 60px;
        }
    }
}

/*Menu 1 - nom du restaurant bas de carte*/
%menu-title-bottom {
    display: flex;

    @extend %fonts-menu-title-one;
    font-size: 20px;
    font-weight: 600;
}
%menu-title-bottom-fas {    
    display: block;
   
}
%menu-title-bottom-p {
    display: block;
   
}
    /*TAILLE DES H3 DANS LES TABLES*/
%typography-h3-one {
    width: 60%;
    display: inline-block;
    transition: background-size 1s;

    @media(min-width: $media-middle) {
        width: 50%;
    }

    @media(min-width: $media-large) {
        width: 33%;
    }
}
%typography-h3-caption-one {
    display: inline-block;
    content: "";
    width: 20%;

    @media(min-width: $media-middle) {
        width: 25%;
    }

    @media(min-width: $media-large) {
        width: 33%;
    }
}
%typography-h3-two {
    width: 60%;
    display: inline-block;
    transition: background-size 1s;

    @media(min-width: $media-middle) {
        width: 50%;
    }

    @media(min-width: $media-large) {
        width: 38%;
    }
}
%typography-h3-caption-two {
    display: inline-block;
    content: "";
    width: 20%;

    @media(min-width: $media-middle) {
        width: 25%;
    }

    @media(min-width: $media-large) {
        width: 31%;
    }
}
%typography-h3-three {
    width: 60%;
    display: inline-block;
    transition: background-size 1s;

    @media(min-width: $media-middle) {
        width: 50%;
    }

    @media(min-width: $media-large) {
        width: 40%;
    }

    display: inline-block;
    transition: background-size 1s;
}
%typography-h3-caption-three {
    width: 20%;
    display: inline-block;
    content: "";

    @media(min-width: $media-middle) {
        width: 25%;
    }

    @media(min-width: $media-large) {
        width: 30%;
    }
}
%typography-h3-four {
    width: 60%;

    @media(min-width: $media-middle) {
        width: 50%;
    }

    @media(min-width: $media-large) {
        width: 42%;
    }

    display: inline-block;
    transition: background-size 1s;
}
%typography-h3-caption-four {
    width: 20%;
    display: inline-block;
    content: "";

    @media(min-width: $media-middle) {
        width: 25%;
    }

    @media(min-width: $media-large) {
        width: 29%;
    }
}
/* en rajouter si plus de menus */
%beforeafter-one {
    height: 5px;
    background-color: $background-color-one;
    @extend %typography-h3-caption-one;
}
%beforeafter-two {
    height: 5px;
    @extend %typography-h3-caption-two;
}

%beforeafter-three {
    height: 5px;
    @extend %typography-h3-caption-three;
}

%beforeafter-four {
    height: 5px;
    @extend %typography-h3-caption-four;
}
/* ANIMATIONS */
%animation-menu-title {
    cursor: pointer;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 1000ms;

    &:hover {
        transform: scale(1.15);
        opacity: 0.5;
    }
}
/* POLICES */
%fonts-menu-title-one {
    font-family: 'Devonshire', cursive;
    font-weight: 500;
}

%fonts-menu-table-one {
    font-family: calliope-mvb,sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 12px;
    @media(min-width: $media-middle) {
        font-weight: 600;
        font-size: 18px;
    }
    @media(min-width: $media-large) {
        font-weight: 900;
        font-size: 22px;
    }
}

%fonts-menu-title-two {
    font-family: 'Croissant One', cursive;
    font-size: $font-size-menu-home-two;    
}

%fonts-menu-table-two {
    font-family: noto-serif, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    @media(min-width: $media-middle) {
        font-weight: 600;
        font-size: 18px;
    }
    @media(min-width: $media-large) {
        font-weight: 900;
        font-size: 22px;
    }
}

%fonts-menu-title-three {
    font-family: 'Dancing Script', cursive;
    font-size: $font-size-menu-home-three;
}

%fonts-menu-table-three {
    font-family: calliope-mvb,sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 12px;

    @media(min-width: $media-middle) {
        font-weight: 600;
        font-size: 18px;
    }

    @media(min-width: $media-large) {
        font-weight: 900;
        font-size: 22px;
    }
}

%fonts-menu-title-four {
    font-family: 'Kaushan Script', cursive;

}

%fonts-menu-table-four {
    font-family: calliope-mvb,sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 12px;

    @media(min-width: $media-middle) {
        font-weight: 600;
        font-size: 18px;
    }

    @media(min-width: $media-large) {
        font-weight: 900;
        font-size: 22px;
    }
}

%ohmyfood {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: -2px;
    font-weight: bold;
    font-size: 20px;

    @media(min-width: $media-middle) {
        font-size: 25px;
    }

    @media(min-width: $media-large) {
        font-size: 30px;
    }
}

%soon {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 0px;
    font-weight: normal;
    font-size: 18px;
    @media(min-width: $media-large) {
        font-size: 28px;
    }
}

%footer-page {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 0px;
    font-weight: normal; 
    font-size: 18px;

    @media(min-width: $media-middle) {
        font-size: 22px;
    }

    @media(min-width: $media-large) {
        font-size: 26px;
    }
}

%footer-page-mail {
    text-align: right;
}

%title {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 20px;

    @media(min-width: $media-middle) {
        font-size: 24px;
    }

    @media(min-width: $media-large) {
        font-size: 30px;
    }
}

