body {
}
/* organisation */



/* colours */

$background-color-menu: (one: #fcdfdb, two: #fff5fe, three: #f9f9f9, four: #fdfffd);
$background-color-green: #579c87;

$shadow-menus: #ededed ;
$border-header-footer: #a1c181 ;

$color-yellow: #fdcb46;
$color-menu-one: #3c1218;
$color-menu-two: #c77412;
$color-menu-three: #0887fb;
$color-menu-four: #72df56;

$color-note-left: #f15861;
$color-menu-two-left: #d8852e;
$color-menu-two-right: #905bfd;
$color-menu-three-left: #0431df;
$color-menu-four-left: #3d9339;

