body {
}

/* COULEURS */

    /* rajouter des news couleurs au besoin*/
$background-color-menu-one: #fcdfdb;
$background-color-menu-two: #fff5fe;
$background-color-menu-three: #f9f9f9;
$background-color-menu-four: #fdfffd;
$background-color-green: #579c87;  
        
$color-menu-one: #3c1218;
$color-menu-two: #c67412;
$color-menu-three: #0887fb;
$color-menu-four: #72bf56;
$color-yellow: #fdcb46;

$color-two-left: #e38a12;
$color-two-right: #6e4ccc;
$color-two-middle:#a56799 ;
$color-three-left: #0431df;
$color-three-right: #1b91fa;
$color-four-left: #3d9339;
$color-four-right: #beff7f;
$color-note-left: #f04e5f;
$color-note-right: #f6916a;

$shadow-menus: #ededed;
$border-header-footer: #a1c181; 

    /*couleurs des noms des restaurants / Rajouter au besoin*/
$color-one: #3c1218;    
$color-two: linear-gradient(170deg, $color-two-left 20%, $color-two-right 55%);
$color-three: linear-gradient(to right, $color-three-left, 20%, $color-three-right 60%); 
$color-four: linear-gradient(165deg, $color-four-left 15%, $color-four-right 55%);   

    /* couleurs des textes dans les menus */
$color-text-one: $color-one;
$color-text-two-first: $color-menu-two;
$color-text-two-second: $color-two-middle;
$color-text-two-third: $color-two-right;
$color-text-three: #000000;
$color-text-four: #000000;

    /* couleurs des traits dans les menus  */ 
$background-color-one: $color-menu-one;
$background-color-two-first: $color-menu-two;
$background-color-two-second: $color-two-middle;
$background-color-two-third: $color-two-right;
$background-color-three-first: #0228dd;
$background-color-three-second: #0670f3;
$background-color-three-third: #229df9;
$background-color-four-before: linear-gradient(to right, $color-four-left 10%, $color-four-right 95%);
$background-color-four-after: linear-gradient(to left, $color-four-left 10%, $color-four-right 95%);
$backgroung-color-four-underline: $color-four-right;

/* MAP */
    /* rajouter des news menu au besoin*/
$background-color-menu: (one: $background-color-menu-one, two: $background-color-menu-two, three: $background-color-menu-three, four: $background-color-menu-four);
$color-menu: (one:$color-menu-one, two:$color-menu-two, three:$color-menu-three, four:$color-menu-four);
$color-restaurant: (one:$color-one, two:$color-two, three:$color-three, four:$color-four);

/* DIMENSIONS */
$width-body: 1rem;
$height-body: 100%;

$media-middle:455px;
$media-large:1170px;

$width-menu: 15rem; /* à modifier au besoin */
$width-menu-middle: $width-menu * (130/100);
$width-menu-large: $width-menu * (190/100);

$height-menu: $width-menu * (150/100);
$height-menu-middle: $height-menu * (120/100);
$height-menu-large: $height-menu * (200/100);

$height-soon: $width-menu * (25/100);
$width-soon: $width-menu * (200/100);

$height-header: $width-menu * (60/100);
$height-footer: $width-menu * (35/100);
$border: $height-header * (2/100);
$height-header-page: ($height-header)-($border);
$height-footer-page: ($height-footer)-($border);

$width-menu-table-column-left: 75%;
$width-menu-table-column-price: 15%;

$width-menu-table: 90%;
$width-menu-table-large: 80%;
$height-menu-table: auto;


/* MARGIN & PADDING */
$margin-initial: $width-menu * (10/100);
$margin: $margin-initial $margin-initial $margin-initial $margin-initial;
$padding-main: $margin-initial $margin-initial $margin-initial*(500/100) $margin-initial;
$margin-soon-small: $margin-initial $margin-initial $margin-initial * (150/100) $margin-initial;
$margin-soon-middle: $margin-initial $margin-initial $margin-initial * (500/100) $margin-initial;
$margin-soon-large: $margin-initial $margin-initial $margin-initial * (800/100) $margin-initial;

    /* rajouter des news menu au besoin*/
$margin-menu: (one: $margin, two: $margin, three: $margin, four: $margin); 
$margin-menu-h1: 30px auto 20px auto;
$margin-menu-h2-large: 20px auto 20px auto;
$margin-menu-title: 40px auto 40px auto;
$margin-menu-page: 20px 30px 200px 30px;
$padding-menu-home: 0px 20px 50px 20px;

$margin-bottom-fas: 10px;
$padding-menu-one-bottom-fas-middle: 20px;
$margin-menu-small: 20px 15px 40px 15px;
$margin-menu-middle: 20px 40px 130px 40px;
$margin-menu-large: 20px 80px 150px 80px;

    /*POLICES*/
$font-size-menu-home-one:25px;
$font-size-menu-home-two: 16px;
$font-size-menu-home-three: 24px;
$font-size-menu-home-four: 24px;

$font-size-menu-table-one:30px;
$font-size-menu-table-two:30px;
$font-size-menu-table-three:30px;
$font-size-menu-table-four:30px;