
#footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;

}

#footer-page {
    display: flex;
    height: $height-footer;
    align-items: center;
    justify-content: space-between;
    background-color: $background-color-green;
    padding-left: 40px;
    padding-right: 40px;
    border-top: $border solid $border-header-footer;

    a {
        color: $color-yellow;
    }
}