.header {
    height: $height-header;
    width: 100%;
    display: flex;
    background-color: $background-color-green;
    justify-content: center;
    align-items: center;
    border-bottom: $border solid $border-header-footer;
    color: $color-yellow;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    height: $height-footer;
    align-items: center;
    justify-content: space-between;
    background-color: $background-color-green;
    border-top: $border solid $border-header-footer;

    a {
        color: $color-yellow;
        &:hover {
            animation: wiggle 0.3s;
            animation-iteration-count: infinite;
        }
    }

    @keyframes wiggle {
        0% {
            transform: rotate(0deg);
        }

        30% {
            transform: rotate(-3deg);
        }

        60% {
            transform: rotate(3deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }

    a:nth-child(1) {
        padding-left: 40px;
    }

    a:nth-child(2) {
        padding-right: 40px;
    }
}