

#header {
    height: $height-header;
    width: $width-body;
    
}
#header-page {
    display: flex;
    background-color: $background-color-green;
    justify-content: center;
    height: $height-header-page;
    align-items: center;
    border-bottom: $border solid $border-header-footer; /* à modifier en bloc de propriétés (idem footer)*/
    * {
        color: $color-yellow;
    }
}